<html>
<head>
    <title><%= title%></title>
    <link rel="stylesheet" href= <%=assetPath('css/layout.css')%> >
    <link rel="stylesheet" href=<%=assetPath('css/header.css')%> >
    <link rel="stylesheet" href= <%=assetPath('css/footer.css')%> >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js" integrity="sha512-mgZL3SZ/vIooDg2mU2amX6NysMlthFl/jDbscSRgF/k3zmICLe6muAs7YbITZ+61FeUoo1plofYAocoR5Sa1rQ==" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <%-style%>
</head>
<body>
    <%-include('_header') %>
    
    <main id='layout-main'>
    <%-body%>
    </main>
    <%-include('_footer') %>
    <%-script%>
    <script>
        <% if(flash.success && flash.success.length>0){%>
            new Noty({
                text: '<%= flash.success%>',
                theme:'mint',
                timeout:1500,
                progressBar:true,
                closeWith:['click'], 
                type:'success'
            }).show();
        <%}%>
        <% if(flash.error && flash.error.length>0){%>
            new Noty({
                text: '<%= flash.error%>',
                theme:'mint',
                timeout:1500,
                progressBar:true,
                closeWith:['click'],
                type:'error'
            }).show();
        <%}%>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous"></script>
    <script src= <%=assetPath('js/scriptOne.js')%> ></script>
</body>
</html>